<!DOCTYPE html>
<html lang="En">

  <head>
    <title>Steve's CRM</title>  
  </head>
  

  <body>
    <div class="jumbotron">
      <h1>Welcome to Steve's CRM!!!!</h1>
        <p>A powerful Customer Relations Manager</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="contacts/new">Get Started!!!</a></p>
    </div>
    
      <ul>
        <li><a href="contacts">View all contacts</a></li>
        <li><a href="contacts/new"> Add new contact </a></li>
        <li><a href="contacts/show_contact"> Show Contact </a></li>
      </ul>

  </body>


</html>
