<!DOCTYPE html>
<html lang="En">

  <head>
<!--   <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Steve's CRM</title>  
  </head>
  <body>
      <h1> Welcome to <%= @crm_app_name %> </h1>
        <p> Main Menu </p>
          <ul>
            <li><a href="contacts">View all contacts</a></li>
            <li><a href="contacts/new"> Add new contact </a></li>
          </ul>
  </body>
</html>
